--- 
import Layout from '../templates/default/layouts/Layout.astro';
import { getIpstreamData, getFullImageUrl } from '../utils/api';

const videocastId = Astro.url.searchParams.get('id');
const videocast = await getIpstreamData(`/videocasts/${videocastId}`);

const otherVideocastsResponse = await getIpstreamData('/videocasts?limit=4');
const otherVideocasts = otherVideocastsResponse?.data || [];

const basicData = await getIpstreamData('/basic-data');
const siteLogoHeader = basicData?.logoUrl ? getFullImageUrl(basicData.logoUrl) : '/image/logo.png';
const siteLogoFooter = basicData?.logoUrl ? getFullImageUrl(basicData.logoUrl) : '/image/logo.png';
const footerDescription = basicData?.projectDescription || '';

const socialNetworks = await getIpstreamData('/social-networks');

const layoutProps = {
  title: videocast?.title || "Videocast",
  siteLogoHeader,
  siteLogoFooter,
  footerDescription,
  socialNetworks,
};

function formatDuration(duration: string) {
    if (!duration) return '';
    
    var durationParts = duration.split(':');
    var formattedDuration = '';
    if (durationParts.length === 3) { 
        formattedDuration = durationParts[0] + 'hr ' + durationParts[1] + 'm';
    } else if (durationParts.length === 2) {
        formattedDuration = durationParts[0] + 'm ' + durationParts[1] + 's';
    } else {
        formattedDuration = duration;
    }
    return formattedDuration;
}

function getYoutubeEmbedUrl(url: string) {
    if (!url) return '';
    let videoId = '';
    const youtubeRegex = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&? \/]{11})/i;
    const match = url.match(youtubeRegex);
    if (match && match[1]) {
        videoId = match[1];
    } else {
        return url; // Return original url if not a youtube url
    }
    return `https://www.youtube.com/embed/${videoId}`;
}
---

<Layout {...layoutProps}>
  <main>
    <!-- BANNER -->
    <section class="section position-relative" style={`background-image: url(${videocast ? getFullImageUrl(videocast.imageUrl) : '/image/dummy-img-1920x900.jpg'});`}>
        <div class="image-overlay"></div>
        <div class="r-container position-relative" style="z-index: 2;">
            <div class="d-flex flex-column">
                <h2 class="font-1 fw-bold"><span class="accent-color">Videocast </span>Detalle</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb font-2">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Videocast</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="r-container">
            <div class="d-flex flex-lg-row flex-column-reverse gap-3">
                <div class="col col-lg-4 pe-lg-4">
                    <div class="d-flex flex-column gap-3">
                        <div class="bg-secondary-color d-flex flex-column gap-3 rounded-3 px-5 py-4">
                            <h5 class="accent-color border-bottom border-accent-color pb-2 font-1 fw-bold">Otros Videocast</h5>
                            <div id="otros-videocast-container" class="d-flex flex-column gap-3">
                                {
                                    otherVideocasts.filter(p => p.id !== videocastId).slice(0, 3).map(otherVideocast => (
                                        <div class="row row-cols-2">
                                            <div class="col-5">
                                                <img src={getFullImageUrl(otherVideocast.imageUrl)} alt={otherVideocast.title}
                                                    class="img-fluid rounded-3">
                                            </div>
                                            <div class="col-7 p-0 d-flex flex-column justify-content-center">
                                                <a href={`/simple_videocast?id=${otherVideocast.id}`} class="link-white font-1">{otherVideocast.title}</a>
                                                <span class="accent-color">{new Date(otherVideocast.createdAt).toLocaleDateString('es-ES', { day: 'numeric', month: 'long', year: 'numeric' })}</span>
                                            </div>
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                        
                        <div class="bg-secondary-color d-flex flex-column gap-3 rounded-3 px-5 py-4">
                            <h5 class="accent-color border-bottom border-accent-color pb-2 font-1 fw-bold">
                                Siguenos en la Redes</h5>
                            <div class="social-container mb-lg-0 mb-3" id="siguenos-social-links">
                                {
                                    socialNetworks && Object.entries(socialNetworks)
                                    .filter(([network, url]) => {
                                        if (network === 'createdAt' || network === 'updatedAt') {
                                            return false;
                                        }
                                        return network && url && typeof url === 'string' && url.trim() !== '';
                                    })
                                    .map(([network, url]) => {
                                        const link = network === 'whatsapp' ? `https://wa.me/${(url as string).replace(/\+/g, '')}` : url as string;
                                        return (
                                            <a href={link} class="social-item" target="_blank">
                                                <i class={`fa-brands fa-${network}`}></i>
                                            </a>
                                        )
                                    })
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="videocast-detail-container" class="col col-lg-8">
                    {
                        videocast ? (
                            <div class="d-flex flex-column gap-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="position-relative" style="height: 250px;">
                                            <img src={getFullImageUrl(videocast.imageUrl)} alt={videocast.title} class="img-fluid rounded-3 w-100 h-100 object-fit-cover" style="object-position: center;">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h2 class="font-1 fw-bold lh-1">{videocast.title}</h2>
                                        <div class="d-flex flex-row gap-5 mt-3">
                                            <div class="d-flex flex-row align-items-center gap-2">
                                                <i class="fa-solid fa-user accent-color"></i>
                                                <span>Goodsound</span>
                                            </div>
                                            <div class="d-flex flex-row align-items-center gap-2">
                                                <i class="fa-solid fa-calendar accent-color"></i>
                                                <span>{new Date(videocast.createdAt).toLocaleDateString('es-ES', { day: 'numeric', month: 'long', year: 'numeric' })}</span>
                                            </div>
                                            <div class="d-flex flex-row align-items-center gap-2">
                                                <i class="fa-regular fa-clock accent-color"></i>
                                                <span>{formatDuration(videocast.duration)}</span>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <ul class="list-unstyled text-gray">
                                                <li class="mb-2"><strong>Temporada:</strong> {videocast.season || 'N/A'}</li>
                                                <li class="mb-2"><strong>Episodio:</strong> {videocast.episodeNumber || 'N/A'}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mt-3">
                                    <p>{videocast.description}</p>
                                </div>
                                
                                <div class="mt-3">
                                    <h4 class="font-1 fw-bold mb-3">Ver Episodio</h4>
                                    <div class="bg-secondary-color p-3 rounded-3">
                                        <iframe class="ifr-video" src={getYoutubeEmbedUrl(videocast.videoUrl)} allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        ) : (
                            <div class="alert alert-danger">No se encontró el videocast solicitado</div>
                        )
                    }
                </div>
            </div>
        </div>
    </section>
  </main>
</Layout>
